<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1>User's edit</h1>
    <meta charset="utf-8" />
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
    <p><input type="hidden" th:field="*{id}" /></p>

    <p><label for="name">name</label></p>
    <p><input type="text" th:field="*{name}" id="name" value="name" required></p>

    <p><label for="password">password</label></p>
    <p><input type="password" th:field="*{password}" id="password" value="password"></p>

    <p><label for="lastname">lastName</label></p>
    <p><input type="text" th:field="*{lastName}" id="lastName" value="lastName"></p>

    <p><label for="age">age</label></p>
    <p><input type="number" th:field="*{age}" id="age" value="age"></p>

    <p><label for="email">city</label></p>
    <p><input type="text" th:field="*{email}" id="email" value="email"></p>


<!--    <p>-->
<!--        <label for="roles">Role</label>-->
<!--        <select id="roles" name="roles"-->
<!--                multiple size="2" required>-->
<!--            <option th:each="role : ${rolelist-->
<!--                class="form-control form-control-sm"}"-->
<!--                    th:value="${role}"-->
<!--                    th:text="${role.roleName}"-->
<!--                    th:selected="${user.roles.contains(role)}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </p>-->

    <br/>
    <div class="form-group" th:object="${rolelist}">
        <label class="col-form-label">Select Role</label>
        <select class="form-control" name="role_id" multiple size="2">
            <option th:each="role : ${rolelist}"
                    th:value="${role.id}"
                    th:utext="${role.roleName}"
                    th:selected="${user.roles.contains(role)}"/>
            </option>
        </select>
    </div>
    <br/>

    <p>
        <input type="submit" value="edit">
    </p>

</form>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>